# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Archivos compilados de Java
*.class

# Archivos empaquetados / binarios
*.jar
*.war
*.ear

# Carpetas de build / compilación
/build/
/target/

# Archivos temporales, logs, y caches
*.log
*.tmp
*.temp
*.swp
*.lock

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno o configuraciones locales
*.env
*.local

# Carpeta temporal o de backups si usas alguna
/tmp/
